
.zebra {
  position: relative;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-image: repeating-linear-gradient($color-main-dark 0%, $color-main-dark 87px, transparent 87px, transparent 164px);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: 0 0;

    animation: zebra 8s linear infinite both;
  }

  @include viewport--md {
    &::before {
      background-image: repeating-linear-gradient($color-main-dark 0%, $color-main-dark 52px, transparent 52px, transparent 98px);
    }
  }

  @include viewport--sm {
    &::before {
      background-image: repeating-linear-gradient($color-main-dark 0%, $color-main-dark 32px, transparent 32px, transparent 60.5px);
    }
  }
}

@keyframes zebra {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}
