.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5.71%;

  @include viewport--md {
    padding: 0 60px;
  }

  @include viewport--sm {
    padding: 0 20px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
