// Colors
//---------------------------------

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$black:                          #000000;
$white:                          #ffffff;
$white-smoke:                    #f2f2f2;
$white-smoke-light:              #f8f8f8;
$yellow:                         #fbcb03;
$yellow-dark:                    #e6b901;
$gray:                           #9a9a9a;
$gray-dark:                      #5b5b5b;

$color-main-dark:                  $black;
$color-main-light:                 $white;
$color-accent:                     $yellow;
$color-accent-hover:               $yellow-dark;


// Typography
//---------------------------------

$font-family--main:                "Montserrat", "Arial", sans-serif;

// Animation
//---------------------------------

$transition-base:          0.3s ease;
$transition-long:          1s ease;
$transition-modal:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
